.signup {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signuptitel {
  font-size: 30px;
  font-weight: 500;
}
.divideSignup {
  height: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  align-content: center; */
  margin: auto;
  overflow: hidden;
  background-color: #bf0a0a;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
/* pomo */