    .containerReport {
    font-family: sans-serif;
    position: absolute;
    top: 6px;
    margin: 0;
    height: 700px;
    width: 100%;
    background-color: #db524d;
    transition: background-color 0.5s ease-in-out 0s;
  }
  .taskList {
    position: relative;
    top: 2%;
    left: 30%;
    width: 40%;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .taskText {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  /* pomotimer */