.header {
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  color: white;
  margin-top: 6px;
}
.logo {
  display: flex;
  height: 50px;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -50px;
  margin-right: 40px;

}
.logo img {
  height: 25px;
  width: 25px;
  margin-right: 4px;
  margin-top: -8px;
}
.title {
  font-family: 20px;
  line-height: 1.4em;
  font-weight: bold;
}
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: white;
}
.item {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 5px;
  font-size: 13px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: white;
}
.item img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-top: 1px;
}
.itemtext {
  font-size: 12px;
}
.divider {
  height: 1px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  overflow: hidden;
  background-color: #bf0a0a;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

/* //pomofocous timer */
