.header {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
  color: white;
  margin-top: 6px;
}
.logo {
  display: flex;
  height: 50px;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -80px;
  margin-right: 60px;

}
.logo img {
  height: 25px;
  width: 25px;
  margin-right: 4px;
  margin-top: -8px;
}
.title {
  font-family: 20px;
  line-height: 1.4em;
  font-weight: bold;
}
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.item {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 5px;
  font-size: 13px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: white;
}
.item img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-top: 1px;
}
.itemtext {
  font-size: 12px;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #bf0a0a;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
/* .container {
  width: 35%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  background-color: white;
  z-index: 10;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 33.5%;
  margin-top: 5%;
}

.head {
  width: 80%;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.time {
  display: flexbox;
  font-size: 14px;
  justify-content: space-around;
  align-content: flex-start;
  width: 90%;
  margin: auto;
}
.pomo {
  display: flex;
  width: 80%;
  justify-content: center;
}
.pomoD {
  width: 20%;
  margin: 10%;
}
.input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 12px;
  padding: 10px;
  width: 20px;
  border: none;
  color: rgb(85, 85, 85);
  box-sizing: border-box;
}
.remove {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.btnOk {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  width: 25%;
  margin: 5px;
  margin-left: 35%;
} */
