.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0;
  height: 700px;
  width: 100%;
  background-color: #db524d;
  transition: background-color 0.5s ease-in-out 0s;
}
.BgClr{
  background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* //pomofocous timer */

